<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/home">
                <img src="assets/images/rsz_uma_logo.png" alt="" />
            </ion-button>
        </ion-buttons>
        <ion-title>
            YEET
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-title>MA!</ion-card-title>
        <ion-card-content>
            I don't know what this MA is for....customer is only eligible for Medicare Advantage?
        </ion-card-content>
    </ion-card>
</ion-content>