<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/form">
                <img src="assets/images/rsz_uma_logo.png" alt="" />
            </ion-button>
        </ion-buttons>
        <ion-title>
            YEET
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-title>Not Eligible</ion-card-title>
        <ion-card-content>
            We are sorry, but you seem to not qualify for Medicare or don't have Medicare.
        </ion-card-content>
    </ion-card>
</ion-content>