<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/home">
                <img src="assets/images/rsz_uma_logo.png" alt="" />
            </ion-button>
        </ion-buttons>
        <ion-title>
            YEET
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="question.questionType">
    <bool-card [question]="question" *ngSwitchCase="'BOOLEAN'" (boolAnswer)="submitBoolQuestion($event)"></bool-card>
    <info-card [question]="question" *ngSwitchCase="'INFO'" (infoDump)="submitInfoDump($event)"></info-card>
    <multi-card [question]="question" *ngSwitchCase="'MULTISELECT'" (multiAnswer)="submitMultiQuestion($event)">
    </multi-card>
    <ion-card *ngSwitchCase="'DATETIME'">
        <ion-card-title>Select A Date</ion-card-title>
        <ion-card-content>{{question.userPrompt}}</ion-card-content>
        <ion-datetime></ion-datetime>
        <ion-button *ngIf="question.options[0].compare==='dateOfBirth'" (click)="submitDateOfBirth()">Submit
        </ion-button>
        <ion-button *ngIf="question.options[0].compare==='janToMarch'" (click)="submitJanToMarch()">Submit
        </ion-button>
    </ion-card>
</ion-content>
<!-- <ion-content>
            <div *ngFor="let question of questions">
                <span [ngSwitch]="question.questionType">
                    <ion-card *ngSwitchCase="'BOOLEAN'">
                        <ion-card-title>Yes/No Question</ion-card-title>
                    </ion-card>
                    <ion-card *ngSwitchCase="'INFO'">
                        <ion-card-title>Info Dump</ion-card-title>
                    </ion-card>
                    <ion-card *ngSwitchCase="'MULTISELECT'">
                        <ion-card-title>Up To Four Options Question</ion-card-title>
                    </ion-card>
                    <ion-card *ngSwitchCase="'DATETIME'">
                        <ion-card-title>Date Picker Question</ion-card-title>
                    </ion-card>
                </span>
            </div>
</ion-content> -->