<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/home" routerDirection="">
                <img src="assets/images/rsz_uma_logo.png" alt="" />
            </ion-button>
        </ion-buttons>
        <ion-title>
            YEET
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-title>IEP!</ion-card-title>
        <ion-card-content>
            You are eligible to enroll during Initial Enrollment Period!
        </ion-card-content>
    </ion-card>
</ion-content>