<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <img src="assets/images/rsz_uma_logo.png" alt="" />
      </ion-button>
    </ion-buttons>
    <ion-title>
      YEET
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card button="true" routerLink="/form" class="welcome-card">
    <!-- <ion-card button="true" href="['/form']" class="welcome-card"> -->
    <img src="assets/images/medicare_coverage.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Welcome</ion-card-subtitle>
      <ion-card-title>Ready to check your eligibility</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Instantly check your medicare enrollment eligibility.
      </p>
    </ion-card-content>
  </ion-card>